# ignore all files by default (do not change this)
*

# whitelist - prettier check these files
!*.ts
!*.svelte
!*.js
!*.json
!*.cjs

# recurse into directories (do not change this)
!*/

# blacklist - prettier ignore these directories
.svelte-kit
build
dist
